<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>class</title>
  <meta name="viewport" content="width=device-width, maximum-scale=1">
	<!-- 加载Boots核心样式 -->
	<link rel="stylesheet" href="../lib/bootstrap.min.css">
  <!-- 加载Boots（主题文件）可以不引入 -->
  <link rel="stylesheet" href="../bootstrapcss/bootstrap-theme.min.css" />

  <link rel="stylesheet" href="../css/common.css">
	<!-- 加载独立CSS文件 -->
	<link rel="stylesheet" type="text/css" href="../css/class.css">
    


</head>
<body>
  <!--===============头部开始================-->
  <div id="xx">
      <header>
        <!-- logo及隐藏菜单按钮 -->
        <div class="logo">
            <a href="index" class="logo-img"></a>
            <button class="dowm-menu" @click="animate()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- 隐藏菜单 -->
        <div class="menu" v-if="show">
            <ul class="nav navbar-nav">
                <li><a href="./class">全部分类</a></li>
                <li><a href="./sort">排行榜<span class="new"></span></a></li>
                <li>
                    <form action="/search/" id="nav_search_form" class="navbar-form nav-search-form" role="search" method="GET">
                        <div class="nav-search-bar">
                            <input type="text" class="form-control" name="kw" id="nav_search_ipt" placeholder="你好！小丑小姐" autocomplete="off">
                            <button class="btn btn-default" type="submit"></button>
                        </div>
                    </form>
                </li>
                <li class="jianfan"><a name="StranLink" id="StranLink">简繁切换</a></li>
                <li v-show="login" class="logined logined1"><span></span><a href="./person">热烈欢迎:  {{user_info.username}}同志</a></li>
                <!-- <li v-show="login" class="logined logined1"><span></span><a href="./person">个人中心</a></li> -->
                <li v-show="login" class="logined logined2"><span></span>收藏夹</li>
                <li v-show="login" v-if="login" class="logined logined3" @click="tuichu()"><span></span>退出登录</li>
                <li v-show="!login"v-if="!login"><a href="/login">登录</a></li>
                <li v-show="!login"><a href="/create">注册</a></li>
                <li>
                    <a href="/center" class="btn btn-primary submit-novel">
                        <i class="icon-edit"></i>
                        <span class="nav-label">投稿</span>
                        <span class="nav-label">{{user_info.username}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--隐藏菜单end -->
    </header>
      </div>
  <!--==============头部结束=================-->


<!-- ==============主体开始================ -->
  <main id="myApp">

    <div class=" col-sm-12 col-md-12">
   
      <!-- A -->
        <div class="fA">
           <div class="fA-L">
               <h4 class="title">
                   <i class="glyphicon glyphicon-stop"></i>
                   分类检索
               </h4>
           </div>
           <div class="fA-R">
               <span>
               <a id="a1" href="#" class="glyphicon glyphicon-th-large active"></a>

               <a id="a2" href="#" class="glyphicon glyphicon-th-list"></a>     
               </span>
           </div>
        </div>

      <!-- B -->
        <div class="fB">
            <ul>
              <li class="active" v-for="x in B_list">
                <a  href="#">{{x}}</a>
              </li>
            </ul>
          <div class="clear"></div>
        </div>
            <!-- C -->
        <div class="fC">
              <div class="fC1 col-xs-6 col-sm-4 col-md-3 col-lg-2"   v-for="c in page_content.list">
                    <a href="#">
                      <img :src="c.img">            
                    <div>
                      <p>{{c.title}}</p>
                     
                    </div>
                     </a>
              </div> 
              <div class="clear"></div> 
        </div> 

          <!-- C2 -->
        <div class="fC2" v-for="x in page_content.list">
            <div class="list">
               <a href="#">
                 <img :src="x.img">
                 <div class="artical">
                   <p class="title">{{x.title}}</p>
                   <div class="content">
                       <p>
                       <span>作&nbsp;&nbsp;者：</span>
                       <span class="s1">{{x.write}}</span>
                       <span>&nbsp;&nbsp;画&nbsp;&nbsp;师：{{x.drawer}}</span>
                       <span>&nbsp;字&nbsp;&nbsp;数：{{x.number}}</span>
                       </p>
                       <p class="intro">
                         <span>简介</span>
                         {{x.intro}}
                       </p>
                       <p class="update">
                       "最新卷"
                       <strong>
                          {{x.new}}
                       </strong>
                           最新更新：{{x.time}}                  
                       </p>
                   </div>
                 </div>
               </a>
            </div>
            <div class="clear"></div>
            <hr>
        </div>
         
            <!-- D -->
        <div class="fD" id="page">
            <nav>
                <ul>
                  <li class="bg">
                    <a href="#">上一页</a>
                  </li>
                  <li v-for="x in page_content.page_data">
                    <a :title="x.number" @click="getList(x.number)">{{x.number}}</a>
                  </li>
                  <li>
                    <a href="#">下一页</a>
                  </li>
                </ul>
            </nav>
        </div>

    </div>
  </main>
  <!-- ===========主体结束============= -->

  <!-- ===========底部开始============= -->
  <div class="footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-4">
                  <div class="link-grid row">
                      <div class="grid col-xs-4">
                          <p class="link-grid-title"><b>网站概要</b></p>
                          <p><a href="#">关于我们</a></p>
                          <p><a href="#">联系我们</a></p>
                          <p><a href="#">加入我们</a></p>
                          <p><a href="#">免责声明</a></p></div>
                      <div class="grid col-xs-4"><p class="link-grid-title"><b>作者服务</b></p>
                          <p><a href="#">联系编辑</a></p>
                          <p><a href="#">福利与签约</a></p></div>
                      <div class="grid col-xs-4"><p class="link-grid-title"><b>轻之文库</b></p>
                          <p><a href="#">文库精选</a></p>
                          <p><a href="#">官方正版</a></p>
                          <p><a href="#">轻小说文库</a></p></div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div class="friend-link">
                      <p class="friend-link-title"><b>首席合作</b></p>
                      <p>
                          <a target="_blank" href="#">米画师</a>
                          <a target="_blank" href="#">MissEvan_M站</a>
                          <a target="_blank" href="#">网易GACHA</a>
                          <a target="_blank" href="#">幻音</a>
                          <a target="_blank" href="#">萌导航</a>
                          <a target="_blank" href="#">2144游戏网</a>
                      </p>
                      <p class="friend-link-title"><b>媒体合作</b></p>
                      <p>
                          <a target="_blank" href="#">和邪社</a>
                          <a target="_blank" href="#">ACGdoge</a>
                          <a target="_blank" href="#">第一弹</a>
                          <a target="_blank" href="#">178动漫</a>
                      </p>
                      <p class="friend-link-title"><b>游戏合作</b></p>
                      <p>
                          <a target="_blank" href="#">少女咖啡枪</a>
                          <a target="_blank" href="#">诺诺来自异世界</a>
                      </p>
                  </div>
                  <ul class="pr-link">
                      <li><b>友情链接</b></li>
                      <li><a href="#">喵特漫展</a></li>
                      <li><a href="#">画萌网</a></li>
                      <li><a href="#">胖次网</a></li>
                      <li><a href="#">CnGal</a></li>
                      <li><a href="#">Cooi社区</a></li>
                      <li><a href="#">萌玩网</a></li>
                      <li><a href="#">源音塘</a></li>
                      <li><a href="#">漫漫漫画</a></li>
                      <li><a href="#">翼萌动漫</a></li>
                      <li><a href="#">柚栖</a></li>
                      <li><a href="#">大角虫漫画</a></li>
                      <li><a href="#">汇漫网</a></li>
                  </ul>
              </div>

          </div>

          <br><img src="./images/logo.png" class="brand-image">
          <p class="brand">Copyright 2017 6Book. All Rights Reserved.</p>
      </div>
  </div>
  <!-- ============底部结束============-->
  <!-- 引用Vue -->
  <script src="../js/vue.js"></script>
  <!-- 加载JQ -->
  <script type="text/javascript" src="../lib/jquery-3.2.1.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="../lib/bootstrap.min.js"></script>
  <!-- 加载独立js -->
  <script type="text/javascript" src="../js/class.js"></script>
  <script type="text/javascript" src="../js/index.js"></script>

    <script type="text/javascript">
         let myApp = new Vue({
            el:'#myApp',
            data:{
              B_list:[
                '全部','文库精选','2017新人赏','幻想',
                '战斗','恋爱','异界','搞笑','日常',
                '校园','后宫','科幻','治愈','超能力',
                '节操','妖怪','恐怖','妹控','伪娘',
                '魔法少女','乙女','同人', '百合',
                '偶像',
                '悬疑',
              ],
              page_content:{},
            },
            methods:{
              getList:function(p){
                let that = this;
                p = p || 1;
                $.ajax({
                  type:'get',
                  url:'/api/getList/'+p,
                  dataType:'json',
                  success:function(json){
                    that.page_content = json;
                  }
                });
                return false;
              },
              
            }
         });
         function getPage(url){
          $.ajax({
            type:'get',
            url:url,
            dataType:'json',
            success:function(json){
              myApp.page_content = json;
              console.log(json);
            }
           });
         }
         getPage('/api/getList/1');

         $(function(){
            $('.fB li').click(function(){
              $(this).addClass('bg').siblings().removeClass('bg');
            });
            $('.fD li').click(function(){
              $(this).addClass('bg').siblings().removeClass('bg');
            });
         });
    </script>

</body>
</html>
