<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6Book-新人赏</title>
    <script src="./lib/bootstrap.min.js"></script>
    <script src="./lib/jquery-3.2.1.min.js"></script>
    <script src="./lib/vue.js"></script>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/newPrize_common.css">
    <link rel="stylesheet" href="css/newPrize_news.css">
</head>
<body>
<div id="app">
<!--顶部导航-->
    
    <div class="nav" id="nav">
        <div class="nav-container">
            <div class="logo fl"><a :href="index"><img id="logo" :src="newPrizeLogo" alt=""></a></div>
            <div class="page-title fl">{{pageTitle}}</div>
            <div class="menu-icon fr" id="menu-icon"></div>
            <div class="menu" style="width: 200px;">
                <span class="close"></span>
                <ul class="menu-list">
                    <li v-for="(nav,index) in navs"><a :href="nav.href">{{nav.text}}</a></li>
                </ul>
            </div>
        </div>
    </div>

<!--头部-->
<div class="head">
    <!--头图-->
    <div class="head-img"></div>
</div>
<!--主体内容-->
<div class="main">
    <!--标题-最新资讯-->
    <div class="news-title">
        <span>{{objectTitle[3].text}}</span>
        <p></p>
    </div>
    <!--文章列表-->
    <!-- <div class="news-list" id="myList">
        <table class="list-table">
            <tbody>
            <tr v-for="article in articles">
                <td width="70%"><a href="#" >{{article.title}}</a></td>
                <td width="30%" class="date">{{article.date}}</td>
            </tr>
            </tbody>
        </table>
    </div> -->
</div>

<!--右下角固定按钮-->
<div class="joinButton">
    <div class="talk"></div>
    <div class="dialogue"></div>
</div>
</div>

<div class="news-list" id="myList">
    <table class="list-table">
        <tbody>
        <tr v-for="article in articles">
            <td width="70%"><a href="#" >{{article.title}}</a></td>
            <td width="30%" class="date">{{article.date}}</td>
        </tr>
        </tbody>
    </table>
</div>
<!--脚部信息-->
    <div class="footer">
        <div class="footer-container">
            <div class="footer-logo"><img src="./images/logo.png" alt=""></div>
            <div class="copyright" v-html="copyright">Copyright 2018 6Book<br>All Rights Reserved.</div>
        </div>
    </div>
<script src="js/newPrize.js"></script>
<script src="./js/newPrize_vue.js"></script>
<script type="text/javascript">
    let myList = new Vue({
            el:'#myList',
            data:{
              articles: [
                //     {title: '获赏领取说明', href: '#', date: '发布于4月前'},
                //     {title: '轻之文库第二回新人赏长篇入围作品公布', href: '#', date: '发布于4月前'},
                //     {title: '轻之文库第二回新人赏长篇入围作品公布', href: '#', date: '发布于5月前'},
                //     {title: '轻之文库第二回新人赏长篇入围作品公布', href: '#', date: '发布于6月前'},
                //     {title: '轻之文库第二回新人赏参赛作品情况公布', href: '#', date: '发布于6月前'},
                //     {title: '新人赏期间限定活动第2弹 —助力新人赏宣传 赚取百万轻币奖励', href: '#', date: '发布于8月前'},
                //     {title: '新人赏期间限定活动 —参与新人赏书评 赚取限定奖励', href: '#', date: '发布于9月前'},
                //     {title: '新世界创作者盛会再临！ 第二回轻之文库轻小说新人赏 启动！', href: '#', date: '发布于10月前'},
                //     {title: '轻之文库第二回新人赏壁纸赏析', href: '#', date: '发布于10月前'},
                //     {title: '第二回轻之文库新人赏讨论区', href: '#', date: '发布于10月前'},
                //     {title: '新世界创作者盛会再临！ 第二回轻之文库轻小说新人赏 启动！', href: '#', date: '发布于10月前'},
                ],
            },

            mounted:function(){
                let that = this;
                $.ajax({
                    type:'get',
                    url:'/api/getNews',
                    dataType:'json',
                    success:function(json){
                        // console.log(json);
                        that.articles = json.result;
                        // console.log(that.articles);
                    }
                });
            }
         }); 
</script>
</body>
</html>