<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>6book-个人信息</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css"> 
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" type="text/css" href="css/person.css">
   
    <script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./lib/vue.js"></script>
</head>
<body>
<div id="xx">
    <header>
        <!-- logo及隐藏菜单按钮 -->
        <div class="logo">
            <a href="index" class="logo-img"></a>
            <button class="dowm-menu" @click="animate()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- 隐藏菜单 -->
        <div class="menu" v-if="show">
            <ul class="nav navbar-nav">
                <li><a href="./class">全部分类</a></li>
                <li><a href="./sort">排行榜<span class="new"></span></a></li>
                <li>
                    <form action="/search/" id="nav_search_form" class="navbar-form nav-search-form" role="search" method="GET">
                        <div class="nav-search-bar">
                            <input type="text" class="form-control" name="kw" id="nav_search_ipt" placeholder="你好！小丑小姐" autocomplete="off">
                            <button class="btn btn-default" type="submit"></button>
                        </div>
                    </form>
                </li>
                <li class="jianfan"><a name="StranLink" id="StranLink">简繁切换</a></li>
                <li v-show="login" class="logined logined1"><span></span><a href="./person">热烈欢迎:  {{user_info.username}}同志</a></li>
                <!-- <li v-show="login" class="logined logined1"><span></span><a href="./person">个人中心</a></li> -->
                <li v-show="login" class="logined logined2"><span></span>收藏夹</li>
                <li v-show="login" v-if="login" class="logined logined3" @click="tuichu()"><span></span>退出登录</li>
                <li v-show="!login"v-if="!login"><a href="/login">登录</a></li>
                <li v-show="!login">注册</li>
                <li>
                    <a href="#" class="btn btn-primary submit-novel">
                        <i class="icon-edit"></i>
                        <span class="nav-label">投稿</span>
                        <span class="nav-label">{{user_info.username}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--隐藏菜单end -->
    </header>
    <!-- 头部结束 -->
    <!-- 主体内容 -->
    <!-- 用户资料 -->
    <form action="" method="post">
        <div class="message">
            <p class="weight big">
                <i class="icon-dot"></i>
                用户资料
            </p>
            <!-- 头像部分 -->
            <div class="head-btn">
                <div class="head">
                    <img src="./images/touxiang.jpg" >
                </div>
                <button id="headImg">更换头像</button>
            </div>
            <!-- 头像部分end -->
            <!-- 用户id -->
            <div class="box">
                <p class="weight small">用户ID</p>
                <p class="value small">1079898<button>进入我的空间</button></p>
            </div>
            <!-- 用户名 -->
            <div class="box">
                <p class="weight small">用户名</p>
                <p class="value small">6Book</p>
            </div>
            <!-- 昵称 -->
            <div class="box">
                <p class="weight small">昵称</p>
                <p class="value small"><input type="text" class="form-control" id="exampleInputEmail1" placeholder="6Book" name="name"></p>
            </div>
            <!-- 签名 -->
            <div class="box">
                <p class="weight small">签名</p>
                <p class="value small"><input type="text" class="form-control" id="exampleInputEmail1" name="signature"></p>
            </div>
            <!-- 生日 -->
            <div class="box">
                <p class="weight small">生日</p>
                <p class="value small"><input type="text" class="form-control" id="exampleInputEmail1" name="birthday"></p>
            </div>
            <!-- 地区 -->
            <div class="box">
                <p class="weight small">地区</p>
                <p class="value small"><select class="form-control" name="area">
                      <option>北京</option>
                      <option>广州</option>
                      <option>上海</option>
                      <option>杭州</option>
                      <option>深圳</option>
                    </select>
                    <!-- <select class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select> --></p>
            </div>
            <div class="box">
                <p class="weight small">情感</p>
                <p class="value small"><select class="form-control" name="feelings">
                      <option>不公开</option>
                      <option>单身</option>
                      <option>已婚</option>
                      <option>丧偶</option>
                      <option>热恋中</option>
                    </select>
                </p>
            </div>
            <div class="box">
                <p class="weight small">取向</p>
                <p class="value small"><select class="form-control" name="orientation">
                      <option>不公开</option>
                      <option>异性恋</option>
                      <option>同性恋</option>
                      <option>双性恋</option>
                    </select>
                </p>
            </div>
            <div class="box">
                <p class="weight small">性别</p>
                <p class="value small"><select class="form-control" name="sex">
                      <option>未知</option>
                      <option>男</option>
                      <option>女</option>
                      <option>秀吉</option>
                    </select>
                </p>
            </div>
            <div class="box">
                <p class="weight small">安全</p>
                <p class="value small">账户安全等级正常</p>
            </div>
            <div class="box">
                <p class="weight small">密码</p>
                <p class="value small">*******<a href="#" return="false">修改密码</a></p>
            </div>
            <div class="box">
                <p class="weight small">手机</p>
                <p class="value small"><a href="#">绑定手机</a></p>
            </div>
            <div class="box">
                <p class="weight small">邮箱</p>
                <p class="value small">book6ln@163.com</p>
            </div>
            <!-- <button class="big-one">保存</button> -->
            <input type="submit" class="big-one" value="保存">
        </div>
     </form>   
    <!-- 用户中心 -->
    <div class="usercenter">
        <p class="weight big">
            用户中心
        </p>
        <ul>
            <li><a href="#"  class="active"><i></i>用户信息</a></li>
            <li><a href="#"><i></i>我的通知</a></li>
            <li><a href="#"><i></i>我的评论</a></li>
            <li><a href="#"><i></i>收藏夹</a></li>
            <li><a href="#"><i></i>我的积分</a></li>
            <li><a href="#"><i></i>我关注的</a></li>
            <li><a href="#"><i></i>我的粉丝</a></li>

        </ul> 
    </div>
    <!-- 主体end -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="link-grid row">
                        <div class="grid col-xs-4">
                            <p class="link-grid-title"><b>网站概要</b></p>
                            <p><a href="#">关于我们</a></p>
                            <p><a href="#">联系我们</a></p>
                            <p><a href="#">加入我们</a></p>
                            <p><a href="#">免责声明</a></p></div>
                        <div class="grid col-xs-4"><p class="link-grid-title"><b>作者服务</b></p>
                            <p><a href="#">联系编辑</a></p>
                            <p><a href="#">福利与签约</a></p></div>
                        <div class="grid col-xs-4"><p class="link-grid-title"><b>轻之文库</b></p>
                            <p><a href="#">文库精选</a></p>
                            <p><a href="#">官方正版</a></p>
                            <p><a href="#">轻小说文库</a></p></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="friend-link">
                        <p class="friend-link-title"><b>首席合作</b></p>
                        <p>
                            <a target="_blank" href="#">米画师</a>
                            <a target="_blank" href="#">MissEvan_M站</a>
                            <a target="_blank" href="#">网易GACHA</a>
                            <a target="_blank" href="#">幻音</a>
                            <a target="_blank" href="#">萌导航</a>
                            <a target="_blank" href="#">2144游戏网</a>
                        </p>
                        <p class="friend-link-title"><b>媒体合作</b></p>
                        <p>
                            <a target="_blank" href="#">和邪社</a>
                            <a target="_blank" href="#">ACGdoge</a>
                            <a target="_blank" href="#">第一弹</a>
                            <a target="_blank" href="#">178动漫</a>
                        </p>
                        <p class="friend-link-title"><b>游戏合作</b></p>
                        <p>
                            <a target="_blank" href="#">少女咖啡枪</a>
                            <a target="_blank" href="#">诺诺来自异世界</a>
                        </p>
                    </div>
                    <ul class="pr-link">
                    <li><b>友情链接</b></li>
                    <li><a href="#">喵特漫展</a></li>
                    <li><a href="#">画萌网</a></li>
                    <li><a href="#">胖次网</a></li>
                    <li><a href="#">CnGal</a></li>
                    <li><a href="#">Cooi社区</a></li>
                    <li><a href="#">萌玩网</a></li>
                    <li><a href="#">源音塘</a></li>
                    <li><a href="#">漫漫漫画</a></li>
                    <li><a href="#">翼萌动漫</a></li>
                    <li><a href="#">柚栖</a></li>
                    <li><a href="#">大角虫漫画</a></li>
                    <li><a href="#">汇漫网</a></li>
                </ul>
                </div>

            </div>

            <br><img src="./images/logo.png" class="brand-image">
            <p class="brand">Copyright 2017 6Book. All Rights Reserved.</p>
        </div>
    </div>
</div>
<!-- 更换头像 -->
        <div class="change-head">
            <div class="img-area">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1"> <img src="./images/1.jpg">
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1"> <img src="./images/tou.jpg">
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1"> <img src="./images/touxiang.jpg">
                </label>
            </div>
            <div class="img-change">
                <button class="green-button" id="tianjia">添加图片</button>
                <button class="white-button" id="quxiao">取消</button>
                <button class="green-button submit" id="queding">确定</button>
            </div>
        </div>
<script type="text/javascript" src="./js/changeHead.js"></script>
<script type="text/javascript" src="./js/index.js"></script>
</body>
</html>