/*==================公共样式=================*/
/*===============公共样式==============*/
* {
	margin: 0;
	padding: 0;
}

html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
	margin: 0;
	padding: 0;
}

img {
	border: 0 none;
	vertical-align: center;
}

ul, li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 14px;
}

body, input, select, button, textarea {
	font-size: 15px;
	font-family: "微软雅黑";
}

button {
	cursor: pointer;
}

i, em, cite {
	font-style: normal;
}

a, a:link {
	color: #000;
	text-decoration: none;
}

/*设置a标签基本样式与伪类选择器设置*/
a:visited {
}

a:active, a:hover {
	text-decoration: none;
	color: #d00000;
}

a:focus {
	outline: none;
}

.orange {
	color: #F26E01;
}

.clear {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

body{
	width: 100%
}

/*==================头部样式=================*/
:focus{
}
header {
	width: 100%;
	background: #fff;
}

header .logo {
	/*padding:0 0 30px 0;*/
	border-bottom: 1px solid #ddd;
}

header .logo-img {
	display: inline-block;
	width: 30%;
	height: 50px;
	background: url(../images/index-logo.jpg) center no-repeat;
	background-size: 60%;
}

header .dowm-menu {
	width: 64px;
	height: 50px;
	background: white;
	border: 1px solid transparent;
	float: right;
	outline: none;

}

header .icon-bar {
	display: block;
	margin: 5px 0 0 0;
	width: 45%;
	height: 4px;
	background: #00a786;
}

/*隐藏菜单栏*/
header .menu {
	display: none;
	font-size: .9em;
}

.menu .navbar-nav {
	margin: 8px 20px;
}

.menu ul li,.menu ul li a{
	position: relative;
	display: block;
	font-size: 1em;
}

.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}

.nav>li>a,.nav>li {
	padding:5px 0;
	position: relative;
	display: block;
	font-size: 1em;
}

.navbar-nav li span.new{
	background: url(../images/new.png) center no-repeat;
	width: 32px;
	height: 32px;
	display: inline-block;
	margin-top: -2px;
	vertical-align: middle;
}

.navbar-form {
	border-color: #eee;
}

.nav-search-bar {
	border-radius: 60px;
	overflow: hidden;
	background: #f6f7f8;
	width: 100%;
	height: 36px;
	position: relative;
	border: 1px solid transparent;
	transition: .3s all;
}

.nav-search-bar #nav_search_ipt {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	padding-right: 36px!important;
	position: absolute;
	border-radius: 60px;
	display: block;
	border: none;
	box-shadow: none;
	transition: .3s all;
	background: 0 0;
	height: 34px;
}

.nav-search-bar .btn-default {
	border-top-right-radius: 60px;
	border-bottom-right-radius: 60px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	height: 34px;
	width: 34px;
	vertical-align: middle;
	background: url(../images/icon.png) center -163px no-repeat;
	color: #00a786;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	touch-action: manipulation;
	cursor: pointer;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 2px;
	-webkit-user-select: none;
}

header .menu .jianfan {
	background: url(../images/index-icon.png) no-repeat -10px -11px;
	padding:0 25px;
}

header .menu .logined {
	padding: 10px 0 10px 25px;
}

header .menu .logined1 {
	background: url(../images/index-icon.png) no-repeat -10px -40px;
}

header .menu .logined2 {
	background: url(../images/index-icon.png) no-repeat -10px -80px;
}

header .menu .logined3 {
	background: url(../images/index-icon.png) no-repeat -10px -1080px;
}

.submit-novel {
	border-radius: 0!important;
	color: #fff!important;
	padding: 10px 10px!important;
	margin: 0;
	height: 50px;
	line-height: 48px;
	opacity: 1;
	border: none;
	background: linear-gradient(to bottom,#00c49d 0,#00a87e 100%);;
	transition: .3s opacity;
}

.icon-edit {
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../images/index-pen.png) center no-repeat;
}

/*头部结束*/


/*footer*/
.footer {
	background: #f6f7f8;
	width: 100%;
	font-size: 14px;
	padding: 40px 0;
	/*margin-top: 20px;*/
}

.footer .container{
	padding: 0 15px;
}

.row{
	margin: 0 -15px
}

.footer a {
	color: #666;
}

.footer .link-grid .grid {
	min-height: 170px;
	overflow: hidden;
}

.footer .link-grid .grid p, .footer .link-grid .grid p.link-grid-title {
	margin: 15px 0;
}

.footer .friend-link .friend-link-title {
	margin: 15px 10px 6px;
}

.footer .friend-link {
	max-width: 320px;
	margin: 0 -10px;
}

.footer .friend-link a {
	margin: 3px 10px;
	display: inline-block;
	font-size: 13px;
}

.footer .brand-image {
	display: block;
	width: 120px;
	height: 48px;
	margin: 0 auto 15px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

.footer .brand {
	font-size: 13px;
	color: #888;
	text-align: center;
}

.footer .pr-link {
	font-size: 13px;
	margin: 10px 0 0 -15px;
	text-align: center;
}

.footer .pr-link li {
	margin-top: 5px;
	margin-left: 15px;
	float: left;
}