ul,li{
	list-style: none;
}
a{
	color: #00a786;
}

.nav li a{
	color: #000;
}

a:active, a:hover, a:focus{
	text-decoration: none;
}
h1{
	margin-top: 10px;
	font-size: 30px;
}
.clear{
	clear: both;
}
body{
	background-color: #f5f5f5;
}
input:focus{
	border-color: #00a786;
	outline: 0;
	box-shadow :inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,167,134,.6);
}
.title{
	color: #00a786;
	font-size: 36px;
}
.main .tabs{
	padding: 0;
	margin-top: 25px;
}
.main .tabs li a{
	float: left;
	color: #00a786;
	display: block;
	padding: 10px 15px;
}
.main .tabs .active a{
	background-color: #00a786;
	color: #fff;
}
.tab_container{
	margin-top: 22px;
}
.tab_container .input{
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	margin-bottom: 15px;
	font-size: 14px;
	border: 1px solid #ccc;
	color: #555;
	border: 1px solid #ccc;
}
.tips {
	margin: -10px 0 10px 5px;
    font-size: 12px;
    color: red;
    display: none;
}
.tab_container .input1{
	width: 60%;
	height: 34px;
	padding: 6px 12px;
	margin-bottom: 15px;
	font-size: 14px;
	color: #555;
	border: 1px solid #ccc;
	float: left;
}
.tab_container .check_code{
	width: 40%;
	display: block;
	padding: 2px 10px;
	text-align: center;
	font-size: 20px;
	background-color: pink;
	background-size: 39%;
	float: left;
	border: 1px solid #ccc;
}
.tab_container .button{
	width: 100%;
	padding: 11px 22px;
	background-color: #00a786;
	color: #fff;
	border-radius: 2px;
	border: 1px solid #008e72;
}
.tab_container .button1{
	width: 100%;
	padding: 11px 22px;
	background-color: #fff;
	color: #00a786;
	border-radius: 2px;
	border: 1px solid #008e72;
	margin-bottom: 17px;
}
.tab_container .button2{
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 700;
	border: 1px solid #008e72;
	color: #fff;
	background-color: #00a786;
}
/*模态框样式*/
.modal-dialog{
	margin: 50px;
	margin-top: 120px;
}
.modal-body{
	margin-top: 5px;
}