/*================新人赏常见问题页面==================*/



.head .head-img {
    height: 300px;
    background: url("../images/mobile-qa-bg.828e172.jpg") 50% no-repeat;
}

.main .question img{
    display: block;
}