*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}
@media (min-width:320px){
	html{
		font-size: 32px;
	}
	.text{
		font-size: 14px;
	}
}
@media (min-width:414px){
	html{
		font-size: 41.4px;
	}
	.text{
		font-size: 16px;
	}
}
@media (min-width:360px){
	html{
		font-size: 36px;
	}
	.text{
		font-size: 15px;
	}
}
@media (min-width:411px){
	html{
		font-size: 41.1px;
	}
	.text{
		font-size: 16px;
	}
}
@media (min-width:412px){
	html{
		font-size: 41.2px;
	}
	.text{
		font-size: 14px;
	}
}
@media (min-width:375px){
	html{
		font-size: 37.5px;
	}
	.text{
		font-size: 14px;
	}
}
@media (min-width:768px){
	html{
		font-size: 76.8px;
	}
	.text{
		font-size: 20px;
	}
}
@media (min-width:1024px){
	html{
		font-size: 102.4px;
	}
	.text{
		font-size: 30px;
	}
}

body{
	background: #f5f5f5;
}
/*头部样式*/
.top{
	width: 10rem;
	height: 1.15942028rem;
	border-bottom: 1px solid #eee;
	/*border: 1px solid red;*/
}
.navbar_brand{
	width: 2.89855072rem;
	height: 100%;
	display: block;
	background: url(../images/activity/logo.png);
	background-size:cover;
	float: left;
}
.navbar_toggle{
	border: 1px solid transparent;
    float: right;
    padding: 9px 10px;
    margin: 0.08rem  0.193236rem  0 0;
    background: white;

}
.icon_bar{
	width: 0.57971014rem;
	height: 2px;
	display: block;
	background: green;
	margin: 4px 0;
}
/*内容*/
.content{
	width: 10rem;
	/*height: 20rem;*/
	padding: 0.3623rem;
	box-sizing: border-box;
	background: #f5f5f5;
	/*position: relative;*/
}
.content p a{
	color: #ccc;
}
.acti_center:before{
    content: ">\00a0";
    padding: 0 5px;
    color: #ccc;
}
.main_center{
	margin: 0.133333rem 0 0.6666666rem 0;

}

.title{
	line-height: 3;
	font-size: 0.33816425rem;
}
.small_box{
	width: 0.33816425rem;
	height: 0.33816425rem;
	display: inline-block;
	border-radius: 2px;
    background-color: #00a786;
    font-size: 0.33816425rem;
}
.title_text{
	line-height: 0.33816425rem;
}
/*具体介绍区*/
.specific_content{
	width: 10rem;
	/*height:50rem;*/
	/*border:1px solid red;*/
	box-sizing: border-box;
	margin: 0 -0.3623rem;
	/*overflow: hidden;*/
}
.specific{
	width: 50%;
	height:7.6913043rem;
	padding:0  0.3392318rem;
	box-sizing: border-box;
	float: left;
	text-align: center;
}
.specific_content:after{
	content: " ";
	display: block;
	clear: both;
}
.specific a{
	width: 100%;
	height: 7.2913043rem;
	display: block;
	padding: 0.18333333rem;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 0.4rem;
	background: #fff;
	color: #333;
	overflow: hidden;
	border-radius: 5px;
}
.specific a img{
	width: 3.84057971rem;
	height: 5.7487rem;
}
/*导航*/
nav ul{
	text-align: center;
}
nav ul li{
	display: inline-block;
	text-align: center;
}
.pre_page{
    width: 1.64251207rem;
    height: 0.821256rem;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #00a786;
    background: #fff;
    border: 1px solid #ddd;
    vertical-align: middle;
    line-height: 0.821256rem;
}
.normal_page{
	width: 0.82125603rem;
    height: 0.821256rem;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #00a786;
    background: #fff;
    border: 1px solid #ddd;
    vertical-align: middle;
    line-height: 0.821256rem;
}
.next_page{
	width: 1.64251207rem;
    height: 0.821256rem;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #00a786;
    background: #fff;
    border: 1px solid #ddd;
    vertical-align: middle;
    line-height: 0.821256rem;
}